<div class="clearfix mxn2">
  <div class="col sm-col-12 px2 pb0 justify">
  	<p>
      My name is Navina Ramesh. I'm currently a Software Engineer at LinkedIn where I am building the stream processing infrastructure. I love exploring new terrains, be it with travel or with techonology! During my free-time, I enjoy reading books, learning crochet and hiking trails near my home.
    </p>
    <p>
      In this blog, I intend to share my travel experiences as well as, my thoughts and learnings about technology. 
    </p>
  </div>
</div>
